.section {
    box-shadow: rgba(82, 63, 105, 0.05) 0px 0px 13px 0px;
    background-color: white;
    margin: 5px 0px 5px 0px;
    padding: 20px 60px 20px 60px;
    width: 100%;
}

h4{
    margin-top:20px;
    margin-bottom:0;
    font-size:0.8em;
}
.fa-angle-right{
    font-size: small;
    float:right;
    position: relative;
    top:5px;
}
a{
    text-decoration: none;
    color: #292929;
}
.selectedNav{
    background-color: rgb(217,224,231);
    color:black;
}
.container{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}
.left-nav{
    position: sticky;
    left:0;
    bottom:0;
    top:0;
    width:360px;
    background-color: rgb(233, 237, 241);
    border: 2px solid rgb(233, 237, 241);
}
.left-nav div {
    padding: 10px 30px;
}
.left-nav .nav-link:hover {
    background-color: rgb(217,224,231);
    color:black;
}

table * {
    font-weight: 400;
}

body {
    background-color: rgb(233, 237, 241);
}

.showImage {
    border-radius: 5px;
    height: 70px;
    width: 125px;
    overflow: hidden;
    object-fit: cover;
}

.next {
    background-color: #21c87a;
    border-radius: 5px;
    padding: 10px;
    margin-right: 8px;
    font-size: 18px;
    color: white;
    transition: ease-in-out 50ms;
}

.next:hover {
    background-color: #21c87a;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}

a:hover {
    text-decoration: none;
}

tr {
    border-bottom: 1px solid #dbdde6 !important;
}