body {
    background-color: #f8f9fa;
}

#contentContainer {
    margin: 80px 200px 20px 200px;
    border-radius: 5px;
    background-color: white;
    padding: 50px;
    background-color: white;
    border: 2px solid rgb(233, 237, 241);
}

hr {
    width: 95%;
}

#infoContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 10px 100px 20px 100px;
    width: 100%;
}

#extraContainer {
    margin: 50px 200px 50px 200px;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
}

#descriptionContainer {
    width: 100%;
    margin: 0 0 0 100px;
    padding: 0 0 20px 0;
}

.eventDetails {
    margin: 40px 0px 0px 50px;
}

.aBuyButton {
    display: inline-block;
    margin-top: 10px;
    width: 200px;
}
#nav-link{
    color:#333;
}
#nav-link:hover{
    text-decoration: underline;
}
.buyButton,
.checkoutButton {
    font-weight: 500;
    background-color: #21c87a;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    transition: ease-in-out 50ms;
}

.checkoutButton {
    margin-top: 50px;
}

.checkoutButton:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}

a:hover {
    cursor: pointer;
}

#nbBilletsContainer a div {
    padding: 10px 0;
    text-align: center;
    width: 50px;
    border: 2px solid rgba(38, 38, 38, 0.1);
    border-radius: 5px;
    flex: 1;
    display: inline-block;
}

#nbBilletsContainer div:hover:not(.selectedNb) {
    background-color: ghostwhite;
}

#sectionBilletsContainer a div {
    padding: 10px 0;
    text-align: center;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.selectedSection {
    color: white;
}

#salleContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 2px solid rgb(233, 237, 241);
    border-top: 0;
}

.ticketTitle {
    margin-top: 20px;
}

.buyButton:hover {
    background-color: #21c87a;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}

.eventDetails>h1 {
    font-weight: 700;
    width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    margin-bottom: 10px;
}

.eventDetails>h2 {
    color: rgb(70, 70, 70);
    font-weight: 500;
    width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4em;
}

.eventDetails h3 {
    color: #333;
    font-weight: 500;
    width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.3em;
}

.eventDetails>h4 {
    color: #333;
    font-weight: 400;
    width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1em;
}

h4 {
    color: #5e5e5e;
    font-size: 1em;
    font-weight: 400;
}

.smallIcon {
    font-size: 25px;
    color: #21c87a;
}

.banner {
    border-radius: 5px;
}

a:hover {
    text-decoration: none;
}

#salleButton {
    font-weight: 500;
    text-align: center;
    width: 200px;
    padding: 5px 5px 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

#buttonContainer * {
    margin: 0;
    border-radius: none;
}

#moreInfoButton {
    font-weight: 500;
    text-align: center;
    width: 200px;
    padding: 5px 10px 5px 5px;
    display: inline-block;
}

#moreInfoButton:hover {
    color: #333 !important;
}

.selected {
    color: #333 !important;
    border-top: 2px solid rgba(38, 38, 38, 0.1);
    border-left: 2px solid rgba(38, 38, 38, 0.1);
    border-right: 2px solid rgba(38, 38, 38, 0.1);
}

.selected:hover {
    cursor: pointer;
    background-color: #edeff1;
    color: #333;
}

.unselected {
    color: #6c757d;
    border: 2px solid #f8f9fa;
    border-bottom: 2px solid rgb(233, 237, 241);
    background-color: #f8f9fa;
}

.unselected:hover {
    cursor: pointer;
    border: 2px solid #edeff1;
    background-color: #edeff1;
}

.selectedNb {
    background-color: #edeef6;
}

.banner {
    width: 400px;
}

.aVenue {
    display: inline-block;
}

a h3:hover {
    text-decoration: underline;
}

#map {
    width: 100%;
    height: 600px;
    width: 900px;
    border-radius: 10px;
}

#mapContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(233, 237, 241);
    border-top: 0;
}

.slidecontainer {
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgba(38, 38, 38, 0.1);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #edeef6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #edeef6;
    cursor: pointer;
}

#ticketRange {
    margin-bottom: 5px;
}

#demoDiv {
    text-align: center;
}