@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
}

.green {
    background-color: #21c87a !important;
    border: #21c87a !important;
    color: white !important;
}

.icon {
    font-size: 40px;
    margin-top: 25px;
    margin-right: 20px;
    vertical-align: top;
    color: #21c87a;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.smallIcon {
    font-size: 15px;
    margin-right: 15px;
    color: #333;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 50px;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customInput {
    background-color: #edeef6 !important;
    border: none !important;
    padding: 15px 20px 15px 20px !important;
}

.profileIcon {
    margin: 5px 15px 0 0;
    font-size: 32px;
    padding: 15px;
    border-radius: 1em;
    color: #21c87a;
}

header a {
    text-decoration: none;
    color: white;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    padding: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    z-index: 1000;
}

.navSearchBar {
    margin: 0 100px 0 50px;
    display: inline-block;
}

.navButton {
    margin-right: 20px;
    font-size: 1.2em;
    color: rgb(95, 95, 95);
}

.navButton:hover {
    color: #21c87a;
}

.navSearch {
    cursor: pointer;
    position: relative;
    right: 45px;
    color: #21c87a;
    transition: all .2s ease-in-out;
    padding: 9px;
    border-radius: 1em;
}

.navSearch:hover {
    color: #21c87a;
    background-color: rgb(241, 244, 248);
}

#submit {
    display: none;
}

.navSearchBar input {
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    font-weight: 500;
    width: 800px;
    padding: 12px 45px 12px 24px;
    font-size: 0.9em;
    line-height: 18px;
    border-radius: 5px;
    border: 2px solid rgb(241, 244, 248);
    transition: all .2s ease-in-out;
    outline: none;
}

.navSearchBar input:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgb(220, 220, 220);
}

.profileIcon:hover {
    transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, .2);
    color: #333;
}

input::placeholder {
    color: rgb(167, 163, 163);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    margin-left: 20px;
    margin-right: 10px;
}

.article {
    padding: 50px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(233, 237, 241);
}